@model Model.Sindico

@{
    ViewBag.Title = "InserirSindico";
}
<div class="card o-hidden border-0 shadow-lg mt-0 pt-0 mr-2 ml-2">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-7">
                <div class="p-5">

                    @using (Html.BeginForm(new { @class = "user" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="user">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Cadastrar Síndico</h1>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.NomeSindico, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = @Html.DisplayNameFor(model => model.NomeSindico) } })
                                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = @Html.DisplayNameFor(model => model.Telefone) } })
                                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = @Html.DisplayNameFor(model => model.Cpf) } })
                                    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = @Html.DisplayNameFor(model => model.Email) } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <a href="@Url.Action("ListaSindico", "Home/")" class="btn btn-danger btn-user btn-block">
                                        Voltar
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <input type="submit" class="btn btn-success btn-user btn-block" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
